<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/Customize.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)

    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .navbar {
            width: 100%;
            top: 0px;
            left: 0px;
            position: relative;
        }

        .navbar-header {
            float: left;
            display: block;
        }
    </style>

    <title>Dariel iHub</title>
    <link rel="shortcut icon" href="https://www.dariel.co.za/wp-content/uploads/2019/08/cropped-Dariel-Swoosh-32x32.png">

    <link rel="stylesheet" href="~/Content/IdiotsStyleSheet.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-inverse bg-dark navbar-dark mb-0">
		<div class="container-fluid">
			@*<div class="navbar-header">*@
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			@*	@Html.ActionLink("iHub", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
			@*</div>*@
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item ">@Html.ActionLink("Home", "Home", "Home")</li>
                <li class="nav-item ">@Html.ActionLink("My Questions", "Index", "QandA")</li>
                <li class="nav-item ">@Html.ActionLink("Answer Questions", "Create", "QandA")</li>
                <li class="nav-item ">@Html.ActionLink("My Skills", "GetUserSkills", "Skills")</li>
            </ul>
            <button type="button" id="rec-id" class="rec-btn" onclick="recognize(false);">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic" viewBox="0 0 16 16">
                    <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z" />
                    <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0v5zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z" />
                </svg>
            </button>
        </div>
		</div>

    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - iHub</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
