@model IEnumerable<IdiotsAPI.QandA>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/speech-to-text/speech_to_text.js" type="text/javascript"></script>

    <title>Index</title>
    <link rel="stylesheet" href="~/Content/IdiotsStyleSheet.css">
<style>
	 

    *{
        box-sizing: border-box;
    }

    .wrap{
        margin: auto;
        width: 100%;
    }


	.card {
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        transition: 0.4s;
        border-radius: 7px;
        width: 100%;
        background-color: aliceblue;
        margin: 10px;
	}

		.card:hover {
			background-color: lightskyblue;
			cursor: pointer;
		}



</style>
</head>
<body>
    @*<table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Question)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Answer)
                </th>
                <th scope="col">
                    Action
                </th>
            </tr>
        </thead>
    
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id= (int)item.QaID })  
        </td>
    </tr>
    }
    
    </table>*@

    @foreach (var item in Model)
			{
                <div class="wrap">
                    <div class="card">
                        <div class="card-item">
                            <h5> <b> @item.Question</b></h5>
                            <p> @item.Answer</p>
							<p> @Html.ActionLink("Modify Question", "Edit", new { id = (int)item.QaID })</p>
                        </div>
                    </div>
                </div>
			}
</body>
</html>
