@model _3_Idiots.Models.userTable

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>userTable</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.firstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.firstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.lastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.lastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.phoneNO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.phoneNO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.password)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.password)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.userID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
